[Unit]
Description=prograf webhook service
After=network.target

[Service]
User=root
WorkingDirectory=/root
ExecStart=python3 webhook.py
Restart=always

[Install]
WantedBy=multi-user.target